.algorithmStateMessage {
  /* position: absolute; */
  font-size: x-large;
  text-align: center;
  color: blue;
}

.closeButton {
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
}

.canvasDiv {
  position: relative;
  width: 75%;
  height: auto;
  top: 25px;
  bottom: 70px;
  z-index: -1;
}

.canvasStyle {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 780px;
}

.fixedRowBottom {
  position: fixed;
  bottom: 0px;
  right: 5px;
  left: 5px;
}

.infoPanel {
  background-color: orange;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  position: absolute;
  width: 20%;
  right: 40px;
  min-width: 400px;
}

.infoPanel ul {
  margin-top: 2px;
  list-style: none;
  padding-left: 6px;
}

.infoPanel ol {
  margin-top: 2px;
  padding-left: 25px;
}

.infoPanel ol li:nth-child(1) {
  color: blue;
}

.infoPanelTab {
  position: absolute;
  right: 20px;
  top: 55px;
}

.edgesQueueList {
  padding-right: 25px;
  overflow: scroll;
  max-height: 165px;
}

.edgesQueueList::-webkit-scrollbar {
  width: 10px;
}

.edgesQueueList::-webkit-scrollbar-track {
  background: orange;
}

.edgesQueueList::-webkit-scrollbar-thumb {
  background: #888;
}

.edgesQueueList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.edgesQueueList::-webkit-scrollbar-corner {
  background: orange;
}
