.home {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    margin-top: 55px;
}

.accordion {
    display: flex;
    width: 100%;
}

.me {
    position: relative;
    width: 50%;
    display: inline-block;
    bottom: 65px;
}
