.bar {
  justify-content: center;
  display: flex;
  background-color: #d9d9d6;
  z-index: 1;
  font-weight: bold;
}

.barText {
  top: 20px;
  position: relative;
  display: flex;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 1;
}

.slider {
  top: 20px;
  position: relative;
  min-width: 100px;
  z-index: 1;
}

.barToggleText {
  display: flex;
  top: 20px;
  position: relative;
  font-weight: bold;
}
